<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/books}">Books</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/books/add}">Add book</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/books/search}">Search</a>
                    </li>
                    
                </ul>
                      
                <ul class="nav navbar-nav navbar-right">
                    
                    
                     <li style="color: #848484" sec:authorize="isAuthenticated()">Signed in as: </li>
                     <li style="color: #848484" sec:authentication="name" sec:authorize="isAuthenticated()"></li>
                    
                    <li  style="display: inline-block;" sec:authorize="isAuthenticated()"> 
                        <a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    
                    <li  style="display: inline-block;" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}"><span
                            class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
            <div>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>